.App {
  font-family: sans-serif;
  text-align: center;
}

.card {
  margin: 10px auto;
  padding: 15px;
  border: 1px solid #ccc;
  width: 300px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
